{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://fastly.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'adv/css/register.css' %}" rel="stylesheet" />

  <title>注册</title>
</head>
<body>
  <div class="box">
    <div class="left"></div>
    <div class="right">
      <h4>欢迎注册</h4>
      <form class="form-register" action="/register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {% if message %}
          <div class="alert alert-warning">{{ message }}</div>
        {% endif %}

        <div class="form-group">
          {{ register_form.username.label_tag }}
          {{ register_form.username }}
        </div>
        <div class="form-group">
          {{ register_form.password1.label_tag }}
          {{ register_form.password1 }}
        </div>
        <div class="form-group">
          {{ register_form.password2.label_tag }}
          {{ register_form.password2 }}
        </div>
        <div class="form-group">
          {{ register_form.sex.label_tag }}
          {{ register_form.sex }}
        </div>
        <div class="form-group">
          {{ register_form.job.label_tag }}
          {{ register_form.job }}
        </div>
        <div class="form-group">
          {{ register_form.photo.label_tag }}
          {{ register_form.photo }}
        </div>

        <div class="form-footer">
          <div class="button-container">
            <a href="/login/" class="btn btn-secondary login-button">直接登录</a>
            <button type="submit" class="btn btn-primary register-button">注册</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Custom cursor element -->
  <div class="cursor"></div>

  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/umd/popper.min.js"></script>
  <script src="https://stackpath.amazonaws.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    // JavaScript for custom cursor
    const cursor = document.querySelector('.cursor');

    let imgx = 0, imgy = 0;
    let imgl = 0, imgt = 0;
    let index = 0;

    document.addEventListener('mousemove', function (e) {
        imgx = e.clientX - cursor.offsetLeft - cursor.clientWidth / 2;
        imgy = e.clientY - cursor.offsetTop - cursor.clientHeight / 2;
        index = 0;
    });

    setInterval(() => {
        if (index < 50) {
            imgl += imgx / 50;
            imgt += imgy / 50;
        }
        cursor.style.left = imgl + 'px';
        cursor.style.top = imgt + 'px';
    }, 10);
  </script>
</body>
</html>
